@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-hero-bg {
  background-image: url('../assets/cars/heroes-bg.png');
}

.my-custom-book-class{
  background-image: url('../assets/hero/book-banner.png');
}

.my-bg-contact-class{
  background-image: url('../assets/hero/bg-contact.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@layer components {
  .container{
    @apply !max-w-[133rem] !m-auto !px-[2.5rem];
  }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    position: relative;
  }
  

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}

.contact-button {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.contact-button:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
  background-color: #fa4226;
}