@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-hero-bg {
  background-image: url('../assets/cars/heroes-bg.png');
}

.my-custom-book-class{
  background-image: url('../assets/hero/book-banner.png');
}

@layer components {
  .container{
    @apply !max-w-[133rem] !m-0 !px-[2.5rem];
  }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }